.panic-alerts-overview {
  &__title {
    text-align: center;
    font-size: 25px;
    margin: 30px 0 20px;
    color: var(--ion-color-primary);
  }

  &__data-table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 7px 7px 7px 5px;
    padding: 2px;
  }

  &__slots {
    display: flex;
    margin-bottom: 10px;
  }

  &__date-time-container {
    display: flex;
    width: 100%;
    margin-left: 20px;
    border-bottom: 1px #a8a8a8 solid;

    h4 {
      color: var(--ion-color-primary);
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-inline-end: 16px;
      padding-inline-start: 16px;
    }

    svc-date-time ion-input input {
      color: var(--ion-color-secondary) !important;
      border: 1px #a8a8a8 solid !important;
      border-radius: var(--svc-card-border-radius) !important;
      margin-top: 3px !important;
      margin-bottom: 2px !important;
      padding-top: 2px !important;
      padding-bottom: 2px !important;
      padding-right: 8px !important;
    }
  }
}

panic-alerts-overview {
  svc-select {
    &#chains-filter {
      margin-right: 20px;
    }

    &#severity-filter {
      margin-left: 20px;
    }

    &#sources-filter {
      margin-right: 20px;

      ion-select::part(text) {
        text-transform: none;
      }
    }

    ion-select {
      border-bottom: 1px #a8a8a8 solid;
      padding-right: 10px;

      &::part(text) {
        text-transform: capitalize;
        color: var(--ion-color-secondary);
      }

      &::part(text-title) {
        font-weight: bold;
        color: var(--ion-color-primary);
        opacity: 1;
      }

      &::part(placeholder) {
        color: var(--ion-color-secondary);
        opacity: 1;
      }
    }
  }

  svc-data-table {
    display: flex;

    svc-buttons-container {
      display: inline-flex;

      ion-buttons {
        z-index: 0 !important;

        ion-button {
          width: 27px !important;
          height: 27px !important;

          &::part(native) {
            cursor: unset;
          }

          ion-icon {
            width: 27px;
            height: 27px;
          }
        }
      }
    }

    thead {
      z-index: 1;
    }
  }

  svc-surface {
    background-color: var(--svc-card-background) !important;
    height: auto;
    border: 1px #a8a8a8 solid;
  }
}

ion-alert {
  div > div.alert-checkbox-label.sc-ion-alert-md {
    text-transform: capitalize;
  }
}
