.panic-alerts-overview {
    &__title {
        text-align: center;
        font-size: 25px;
        margin: 30px 0px 20px;
    }

    &__data-table-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 7px 7px 7px 5px;
        padding: 2px;
        height: 50vh;
    }
}

panic-alerts-overview {

    svc-data-table {
        display: flex;
        max-height: inherit;

        svc-buttons-container{
            display: inline-flex;

            ion-buttons {
                z-index: 0 !important;
    
                ion-button {
                    width: 27px !important;
                    height: 27px !important;
    
                    &::part(native) {
                        cursor: unset;
                    }
    
                    ion-icon {
                        width: 27px;
                        height: 27px;
                    }
                }
            }
        } 

        thead {
            z-index: 1;
        }
    }

    svc-card {
        height: auto;
        border: 1px #a8a8a8 solid;
    }
}