panic-dashboard-overview {
    svc-card.chain-card {
        margin-bottom: 10px;
    }

    svc-label {
        ion-label {
            text-transform: capitalize;
         }
    }

    svc-label.chain-name {
        margin-top: 10px;
        margin-left: 10px;
    }

    svc-label.info-message {
        margin-left: 10px;
    }
}
