image: node:latest

before_script:
    - cd 'src/web-installer/frontend/'

stages:
    - build
    - test

cache:
    paths:
        - node_modules/

install_dependencies:
    stage: build
    script:
        - cd src/web-installer/frontend
        - npm install
    artifacts:
        paths:
        - node_modules/

testing_testing:
    stage: test
    script: npm test