# TODO Remove for production
# TODO REMOVE pipfile.lock for production
[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
pep8 = "*"
rope = "*"

[packages]
configparser = "*"
pika = "*"
prometheus_client = "*"
pymongo = "*"
python-telegram-bot = "*"
python-dateutil = "*"
redis = "*"
requests = "*"
twilio = "*"
watchdog = "*"
autopep8 = "*"
