@import '../../../scss/mixins/form.scss';
@import '../../../scss/mixins/modal-dimension.scss';

.panic-installer-sources-modal {
    &__nodes {
        @include modal-dimension(750px);
    }
}

form {
    @include form();
    @include patch-svc-toggle();

    #monitor_cosmos_rest {
        margin-top: -1px;
    }
}

.panic-installer-sources-form {

    &__row-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        svc-input {
            width: 100%;
        }
    }

    &__help-text {
        @include input-help-text();
    }

    &__input_test_box {
        @include input_and_test();

        svc-input {
            width: 693px !important;
        }
    }
}