@import '~@simply-vc/uikit/dist/uikit/uikit.css';

/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

:root {
    font-family: var(--ion-font-family);

    --ion-color-primary: #151965;
    --ion-color-primary-rgb: 21, 25, 101;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #121659;
    --ion-color-primary-tint: #2c3074;

    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;

    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    --svc-data-table-body-max-height: 258px;
    --svc-card-collapsed-height: 100% !important;
    --background-color: #F1F5F9;
    --surface-background: #F8F8F8;
}

/* required to make the layout work, temporary fix */
svc-app > :first-child {
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0!important;
    display: flex !important;
    position: absolute !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    contain: layout size style !important;
    overflow: hidden !important;
    z-index: 0 !important;
}
