panic-installer-sources {

  svc-data-table {
    table {
      margin-bottom: 15px;

      thead {
        white-space: nowrap;
      }
    }
  }
}

p {
  font-size: 17px;
  color: var(--ion-color-primary);
}
