.greyBackground{
  background: #e2e4e9;
  border-radius: 15px;
}

.background-blue{
  background-color: #263089;
}

.root{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.table{
  min-width: 650;
}

.paper{
  padding: 2;
  text-align: center;
  color: #000000;
}

.heading{
  font-size: 0.9375rem;
  font-weight: normal;
}

.icon{
  padding-right: 1rem;
}

.tableColumn{
  max-height: 300;
  min-height: 300;
  overflow: auto;
}

.flex_root{
  flex-grow: 1;
}

.width_root{
  width: 100%;
}

.button_float_right{
  float: right;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #e2e4e9c2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 10px 30px rgba(black, 0.2);
  border: 2px solid black;
}