.panic-installer-alerts-message-cell {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;

    svc-label {
      font-weight: 900;
      margin-left: 3px;
    }

    svc-text {
      font-size: 0.8em !important;
      margin-left: 10px;
    }
  }
}