[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
parameterized = "*"
freezegun = "*"

[packages]
configparser = "*"
pika = "*"
prometheus_client = "*"
pymongo = "*"
python-telegram-bot = "*"
python-dateutil = "*"
pdpyras = "*"
redis = "*"
requests = "*"
schema = "*"
twilio = "*"
opsgenie-sdk = "*"
watchdog = "*"
web3 = "*"

[requires]
python_version = "3.9.5"
slack-bolt = "*"
