panic-header {
  img {
    margin-left: 10px;
  }

  svc-dropdown-menu ion-label {
    text-transform: capitalize;
  }
}

ion-popover.svc-dropdown-menu-content svc-dropdown-menu-content ion-item::part(native) {
  text-transform: capitalize;
}

.panic-header__menu {
  display: flex;
  flex-direction: row-reverse;
}

